.font-style{
    font-family: "open-sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(245, 248, 255);
}
/*header part start*/
.btn1{
    background-color: rgb(78, 71, 255) ;
    color: white;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}
.logo{
    color:  rgb(78, 71, 255)  ;
    font-size: 40px;
    font-weight: 1000;
    
}
.banner{
    text-align: center;
    margin-top: 150px;
}
.header .banner h1{
    font-size: 60px;
    width: 50%;
    height: auto;
    color: rgb(25, 24, 32);
    padding: 0 380px;
}
.btn2{
    background-color: rgb(78, 71, 255) ;
    color: white;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 80px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

nav{
   display: flex;
   justify-content: space-between;
   margin: 0px 200px;    
}
.header{
    background-image: url(Assets/Hero-bg.png);
    height: 600px;
}
/*header part end*/
/*main part start*/
/*section one start*/
.one{
    display: flex;
    justify-content: space-between;
    padding: 160px 200px;
}
.btn3{
    background-color: rgb(78, 71, 255) ;
    color: white;
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.text h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}
.text p{
    font-size: 25px;
    width: 70%;
    color: rgba(0, 0, 0, 0.5);
}
.pic img{
    border-radius: 48px;
}

/*section one end*/
/*Section two start*/
.two{
    background-color: rgb(229, 231, 255);
    max-width: 70%;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    padding: 80px 50px;

}
.two .content {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 180px;
}
.two h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.two .content h2{
    font-size: 60px;
    color: rgb(78, 71, 255) ;
    margin-bottom: 0;
}
.two .content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

/*Section two end*/
/*section three start*/

.three .review .reviewer{
    display: flex;
}
.three .review{
    background-color: rgb(250, 252, 255);
    display: flex;
    gap: 60px;
     margin: 0 auto;
    max-width: 70%;
    justify-content: center;
}
.three h1{
    margin-top: 100px;
    text-align: center;
    padding: 50px;
    font-size: 42px;
    font-family: raleway;
}
.three .review .reviewer-sub p, .three .review .reviewer-sub h4{
    color: rgba(0, 0, 0, 0.5);
}
.three .review .fa-star{
    color: rgb(255, 184, 5);
}
.three .review .box{
    background-color: rgb(250, 252, 250);
    border: 1px solid rgb(233, 228, 228);
    border-radius: 20px;
}
/* section three end*/
/*section four start*/
.four{
    max-width: 70%;
    margin: 0 auto;
    padding: 100px ;
    margin-top: 180px;
    text-align: center;
    justify-content: center;
    background-color: rgb(250, 252, 250);
    border: 1px solid rgb(233, 228, 228);
    border-radius: 20px;
}
.four h1{
    font-size: 45px;
}
 .four p{
        color: rgba(0, 0, 0, 0.5);
    }
    .four img{
        border-radius: 20px;
        margin-top: 30px;
    }
/*section four end*/
/*section five start*/
.five{
    display: flex;
    
    gap: 0px;
    padding: 130px 230px;
}
.five .five-title{
    font-size: 60px;
}
.five-title{
    width: 100%;
    display: block;
}
.five label {
    margin-top: 19px;
    
}
.five input, .five textarea{
    margin-bottom: 19px;
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
}
.five textarea{
    height: 100px;
}
.five .button{
    width: 450px;
    background-color: rgb(78, 71, 255);
    color: white;
    cursor: pointer;
    font-weight: bold;
}



/*section five end*/





/*main part end*/